IDI_APP_ICON ICON "resource\\app_icon.ico"  
//100 ICON "resource\\app_icon.ico"
101 ICON "resource\\light_cat_0.ico"
102 ICON "resource\\light_cat_1.ico"
103 ICON "resource\\light_cat_2.ico"
104 ICON "resource\\light_cat_3.ico"
105 ICON "resource\\light_cat_4.ico"
106 ICON "resource\\dark_cat_0.ico"
107 ICON "resource\\dark_cat_1.ico"
108 ICON "resource\\dark_cat_2.ico"
109 ICON "resource\\dark_cat_3.ico"
110 ICON "resource\\dark_cat_4.ico"