IDI_APP_ICON ICON "resource\\app_icon.ico"  
101 ICON "resource\\BubbleKitten_0.ico"
102 ICON "resource\\BubbleKitten_1.ico"
103 ICON "resource\\BubbleKitten_2.ico"
104 ICON "resource\\BubbleKitten_3.ico"
105 ICON "resource\\BubbleKitten_4.ico"
106 ICON "resource\\BubbleKitten_5.ico"
107 ICON "resource\\BubbleKitten_6.ico"
108 ICON "resource\\BubbleKitten_7.ico"
109 ICON "resource\\BubbleKitten_8.ico"
110 ICON "resource\\BubbleKitten_9.ico"

111 ICON "resource\\dark_cat_0.ico"
112 ICON "resource\\dark_cat_1.ico"
113 ICON "resource\\dark_cat_2.ico"
114 ICON "resource\\dark_cat_3.ico"
115 ICON "resource\\dark_cat_4.ico"

116 ICON "resource\\light_cat_0.ico"
117 ICON "resource\\light_cat_1.ico"
118 ICON "resource\\light_cat_2.ico"
119 ICON "resource\\light_cat_3.ico"
120 ICON "resource\\light_cat_4.ico"
